<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="container">
            <div class="row1 top_row">
                <div class="col1">
                    <a href="{% url 'edit' %}">devnamdev</a>
                </div>
                <div>
                    <a href="{% url 'edit' %}">Edit</a>
                </div>
                <div>
                    <button class="btn">search</button>
                </div>
            </div>

            <div class="friend_info">
                <div class="row1 row2">
                    <div class="moving">
                        <button class="btn">friends</button>
                    </div>
                    <div class="friends col1 bg1">
                        <button class="btn friend_btn">friends</button>
                    </div>
                    <div class="request col1">
                        <button class="btn request_btn">request</button>
                    </div>
                </div>
                <div class="friend_list">
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                    <div class="row1 user">friend</div>
                </div>
                <div class="request_list">
                    <div class="row1 user">request</div>
                </div>
            </div>
        </div>

        <script>
            friend_btn = document.querySelector(".friend_btn");
            friend_list = document.querySelector(".friend_list");
            request_list = document.querySelector(".request_list");
            request_btn = document.querySelector(".request_btn");
            moving = document.querySelector(".moving");
            request_btn.addEventListener("click", () => { 
                request_list.style.display = "block";
                friend_list.style.display = "none";
                moving.style.right = "0%";
                moving.style.left = "50%";
                moving.style.background = "black";
                moving.innerHTML ='<button class="btn request_btn">request</button>'
            }); 
            friend_btn.addEventListener("click", () => {
                request_list.style.display = "none";
                friend_list.style.display = "block";
                moving.style.right = "50%";
                moving.style.left = "0%";
                moving.style.background = "black";
                moving.innerHTML ='<button class="btn friend_btn">friends</button>';
            });
        </script>
    </body>
</html>